h1 {
    text-align: center;
}

h1 a {
    color: blue;
    font-size: 50px;
}

#app {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: cornsilk;
}


.spinner {
    width: auto;
}

.hidden {
    display: none;
}

figcaption {
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}

img {
    width: 200px;
    max-height: auto;
}